/* ************* BASE SETUP************ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-size: 10px;
  color: #fcf9ff;
  font-family: "Raleway", sans-serif;
}

a {
  color: #fcf9ff;
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

/* ************* HERO SECTION ************ */
.hero-section {
  width: 100vw;
  height: 100vh;
  background-color: #0c1014;
}

/* ************* NAVBAR ************ */
.navbar {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  height: 35;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 60%;
}

.nav-links li a {
  font-size: 22px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #0066ff 0%,
    #00ffe0 50%,
    #0c1014 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease-in-out;
}

.nav-links li a:hover {
  -webkit-text-fill-color: transparent;
  background-position: 0 100%;
}

.btn {
  width: 200px;
  height: 40px;
  border: 1px groove #008cff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #0066ff 0%,
    #00ffe0 50%,
    #0c1014 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.btn:hover {
  background-position: 0 100%;
  border: none;
  font-weight: 600;
}
/* ************* HERO TITLE ************ */

.hero-content {
  text-align: center;
  position: relative;
  top: 15%;
}

.hero-text {
  font-size: 12vw;
  font-weight: 600;
}

.hero-text h1:first-of-type {
  background-image: linear-gradient(to right bottom, #f53c95, #0044ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text h1:last-of-type {
  background-image: linear-gradient(to right bottom, #004bfa, #82f18e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-images {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 15%;
  padding: 0 5px;
}

.hero-images img {
  width: 15vw;
  height: auto;
}

.hero-desc {
  text-align: center;
  width: 100%;
  position: relative;
  top: 25%;
}

.hero-desc p {
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1.7;
}

.signal {
  position: absolute;
  height: 100px;
  width: auto;
  left: 160px;
  top: -50px;
  transform: rotate(-10deg);
}

.download-btn {
  margin: 5% auto;
  position: relative;
}

/* ********************* App Section ************************* */

.app-section {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(to right top, #1100ff 0%, #6f00ff 100%);
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to left bottom, #ff004d 0%, #ff3d00 100%);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

/* App Window */
.app-window {
  width: 1400px;
  height: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 80px 5px #000;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.app-layout {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.app-server-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 0 0 5%;
}

.app-window-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 20%;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: all 0.1s ease-out;
}

.dot:nth-child(1) {
  background-color: #ff0000;
}

.dot:nth-child(2) {
  background-color: #ffbb00;
}

.dot:nth-child(3) {
  background-color: #03c203;
}

.dot:hover {
  box-shadow: 0 0 5px 1px #fcf9ff;
}

/* Servers */
.app-servers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.server {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.server:hover {
  box-shadow: 0 0 5px 4px #fcf9ff;
}

.app-logo {
  margin-bottom: 20%;
  height: 40px;
  width: auto;
}

/* App contacts */

.app-contacts-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 0 0 20%;
  background-color: #161b1f;
}

#search-box {
  width: 90%;
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 15px;
}

.new-button {
  margin-top: 20px;
  padding: 6px;
  width: 80%;
  background-color: #0f3ce0;
  border: none;
  color: #fcf9ff;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.new-button:hover {
  background-color: #0f58e0;
}

.team-info {
  margin-top: 10%;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0e101a;
}

.team-dp {
  border-radius: 5px;
}

.team-dp img {
  background-color: #00ffd1;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1 ease-out;
}

.team-dp:hover {
  box-shadow: 0 0 5px 4px #00b694;
}

/* ================== App Contact=============== */

.app-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow-y: scroll;
}

.app-contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 5%;
  transition: all 0.05s ease-in-out;
}

.app-contacts-list:hover {
  background-color: #1d222f;
}

.app-contacts-list img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10%;
}

.app-contacts p {
  font-size: 10px;
}

.app-contacts::-webkit-scrollbar {
  width: 6px;
}
